@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
  overscroll-behavior: none;
  font-family: 'Manjari';
}

body {
  padding: 0;
  margin: 0;
}

#background-container {
  display: flex;
}

#logo {
  height: 150px;
  margin: 80px auto;
  margin-bottom: 30px;
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.20);
    pointer-events: none;
    z-index: 9999;
}

#content-border {
  background: #C3D2D9;
  margin-top: 260px;
  width: 100%;
  height: 120vh;
  clip-path: polygon(
    0 8%,
    100% 0,
    100% 100%,
    0 100%
  );
  padding-top: 35px;
}

#content-container {
  background: #7A8F9A;
  width: 100%;
  clip-path: polygon(
    0 8%, 
    100% 0,
    100% 100%,
    0 100%
  );
  height: 100%;
}

#content {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  color: #C3D2D9;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#content h1 {
  font-size: 44px;
  margin: 0;
  margin-bottom: 5px;
  text-shadow: 0px 2px 10px rgba(255,255,255,0.5);
}

#content p {
  font-size: 26px;
  margin: 0;
  text-shadow: 0px 2px 10px rgba(255,255,255,0.25);
}

#thank-you {
  width: 740px;

}

#privacybadger {
  position: fixed;
  user-select: none;
  left: 0;
  bottom: 0;
  margin: 10px;
  opacity: 0.5;
  height: 60px;
  transition: opacity 1s ease;
}

#privacybadger:hover {
  opacity: 0.9;
}

.goggy {
  position: fixed;
  user-select: none;
  right: 2em;
  bottom: 0;
  margin:0;
  font-size: 20px;
  font-weight: 600;
  color: #C3D2D9;
  text-shadow: 0px 2px 10px rgba(255,255,255,0.5);
}

#goggy-cat {
  transform: translateY(50px);
  transition: transform 0.25s ease-out;
}
#goggy-cat:hover {
  transform: translateY(10px);
}


#goggy-text {
  opacity: 1;
  transition: opacity 0.25s ease-out;
  user-select: none;
  pointer-events: none;
}
#goggy-text.hidden {
  opacity: 0;
}


/* ---------------------------------------------------------- */

.l_na {
    opacity: 0;
    pointer-events: none;
}

body {
  background: #57656D;
  overflow-x: hidden;
}

body:after, body:before {
 content: '';
 display: block;
 position: fixed;
 z-index: -1;
 top: 0;
 width: 100vw;
 height: 100vh;
 width: 100vmax;
 height: 100vmax;
 background: rgba(0, 0, 0, 0.05);
 animation: l_background 240s linear infinite;
}

body:after { left: 15vw; }
body:before {
 right: 15vw;
 animation-delay: -60s;
 animation-direction: reverse;
}

#l_root {
 max-width: 100%;
 overflow-x: hidden;
}

#l_fixed {
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 2;
 background-color: var(--l-color-7);
 transition: 4s;
 filter: grayscale(100%);
 animation: none;
}

#l_fixed_bg0 {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

#l_fixed_bg1, #l_fixed_bg2, #l_fixed_bg3 {
 position: absolute;
 animation: l_fixed_bg 120s ease-in-out infinite alternate;
 background-image: linear-gradient(-60deg, var(--l-color-6) 50%, var(--l-color-8) 50%);
 top: 0;
 bottom: 0;
 left: -50%;
 right: -50%;
 opacity: 0.5;
 height: 100%;
}

#l_fixed_bg2 {
 animation-direction: alternate-reverse !important;
 animation-duration: 80s !important;
}

#l_fixed_bg3 {
 animation-duration: 100s !important;
}

#l_fixed_highlight {
 position: absolute;
 top: 0;
 bottom: 0;
 left: -50%;
 right: -50%;
 opacity: 0;
 height: 100%;
 background: radial-gradient(ellipse at bottom, var(--l-color-1) 0%, transparent 45%);
}

@keyframes l_body {
 0% { background: #222; }
 50% { background: #333; }
 100% { background: #222; }
}

@keyframes l_background {
 0% { transform: rotate(10deg); }
 100% { transform: rotate(360deg); }
}

@keyframes l_fixed {
 from { height: 100%; }
 to { height: 121px; }
}

@keyframes l_fixed_bg {
 0% { transform: translateX(-25%); }
 100% { transform: translateX(25%); }
}

@keyframes l_fixed_bg_coins {
 0%{ opacity: 1; transform: translateY(0) rotate(0deg); }
 100%{ opacity: 0; transform: translateY(-1000px) rotate(720deg); }
}

.l_scrolled #l_fixed { top: -28px; max-height: 100px; }
.l_not_scrolled #l_fixed { top: 0; max-height: none; }

.l_animations_complete #l_fixed {
 transition: 0.5s;
 filter: grayscale(0%);
}